/* stylelint-disable property-no-unknown */
// SCSS 變數匯出給 JS/TS

@use "./variables" as *;

:export {
  navbar-height: $navbar-height;
  tags-view-height: $tags-view-height;
  menu-background: $menu-background;
  menu-text: $menu-text;
  menu-active-text: $menu-active-text;
}

/* stylelint-enable property-no-unknown */
